.user{
  font-size: 18px;
  color: #4B5FE6;
  margin: 0;
  padding: 5px;
}
.content{
  font-size: 16px;
  margin: 0;
  padding: 5px;
}
.date {
  font-size: 14px;
  color: rgb(95, 95, 95);
  margin: 0;
  padding: 5px;
}
