header {
  height: 80px;
  display: grid;
  padding: 0 50px 0 50px;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    margin: 0;
    color: #4B5FE6;
    font-size: 30px;
    cursor: pointer;
  }
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}