main {
  width: stretch;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .root-comment{
    width: 50%;
    background-color: #eeeeee;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
}