main {
  width: stretch;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .comment-send-container{
    margin: 20px;
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment-container{
    margin: 20px;
    width: 40%;
    background-color: #c5cdff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .root-comment{
      width: stretch;
      background-color: #eeeeee;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }
}